<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj-XdqC5pzCAqstvPyU9eMWE0DE6-NGM0</string>
	<key>GCM_SENDER_ID</key>
	<string>318771620552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laplace</string>
	<key>PROJECT_ID</key>
	<string>laplace-c64fb</string>
	<key>STORAGE_BUCKET</key>
	<string>laplace-c64fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318771620552:ios:ca9d6a2727a07ef2f093fd</string>
</dict>
</plist>